@theme {
    /* Colors */
    --color-primary: #0053cd;
    --color-primary-dim: #0048b5;
    --color-on-primary: #f1f2ff;
    --color-primary-container: #789dff;
    --color-on-primary-container: #001f57;
    
    --color-secondary: #4451b7;
    --color-secondary-dim: #3744ab;
    --color-on-secondary: #f3f1ff;
    --color-secondary-container: #caceff;
    --color-on-secondary-container: #2e3ba2;
    
    --color-tertiary: #8c3a8c;
    --color-tertiary-dim: #7f2d7f;
    --color-on-tertiary: #ffeef9;
    --color-tertiary-container: #f395ee;
    --color-on-tertiary-container: #5e0b61;
    
    --color-surface: #f8f5ff;
    --color-surface-dim: #ced1ff;
    --color-on-surface: #272c51;
    --color-surface-variant: #d8daff;
    --color-on-surface-variant: #545981;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f1efff;
    --color-surface-container: #e6e6ff;
    --color-surface-container-high: #dfe0ff;
    --color-surface-container-highest: #d8daff;

    --color-outline: #6f749e;
    --color-outline-variant: #a6aad7;
    
    --color-error: #b31b25;
    --color-on-error: #ffefee;
    --color-error-container: #fb5151;
    --color-on-error-container: #570008;

    /* Fonts */
    --font-headline: "Manrope", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Inter", sans-serif;
}
